<p id="notice"><%= notice %></p>

<p>
  <b>Color:</b>
  <%= @wig.color %>
</p>

<p>
  <b>Style:</b>
  <%= @wig.style %>
</p>


<%= link_to 'Edit', edit_wig_path(@wig) %> |
<%= link_to 'Back', wigs_path %>
